ipykernel
IPython
traitlets
six
ipython_genutils
decorator
pygments
pexpect
ptyprocess
pickleshare
prompt_toolkit
wcwidth
simplegeneric
jedi
colorama
numpydoc
jupyter_client
zmq
jupyter_core
tornado
simplejson
ipyparallel
importlib_resources
appdirs
attr
click
CommonMark
jinja2
markupsafe
ipywidgets
sympy
mpmath
fastcache
tensorflow
numpy
google
pandas
pytz
bottleneck
matplotlib
pyparsing
cycler
dataclasses
requests
urllib3
chardet
cryptography
asn1crypto
idna
certifi
pillow
cffi
datashape
multipledispatch
toolz
opencv-python
py
graphviz
scikit-image
dask
cytoolz
cloudpickle
scipy
pywt
mypy
typed_ast
lxml
pyyaml
luigi
flask
werkzeug
greenlet
itsdangerous
xlrd
nbconvert
entrypoints
nbformat
jsonschema
mistune
pandocfilters
testpath
notebook
shapely
tqdm
pytest
pluggy
more_itertools
sphinx_autobuild
port_for
livereload
watchdog
pathtools
prompt-toolkit==1.0.15