appdirs
asn1crypto
attr
black
bottleneck
certifi
cffi
chardet
click
cloudpickle
colorama
CommonMark
cryptography
cycler
cytoolz
dask
dataclasses
datashape
decorator
delegator.py
entrypoints
fastcache
flask
git+https://github.com/deathbeds/depfinder@ipython-code-transform
git+https://github.com/deathbeds/importnb
git+https://github.com/deathbeds/pidgin
google
graphviz
greenlet
idna
importlib_resources
ipykernel
ipyparallel
IPython
ipython_genutils
ipywidgets
itsdangerous
jedi
jinja2
jsonschema
jupyter_client
jupyter_core
luigi
lxml
markupsafe
matplotlib
mistune
more_itertools
mpmath
multipledispatch
mypy
nbconvert
nbformat
notebook
numpy
numpydoc
opencv-python
opencv-python
pandas
pandocfilters
pexpect
pickleshare
pillow
pluggy
poser
prompt-toolkit==1.0.15
ptyprocess
py
pygments
pyparsing
pytest
pytz
pywt
pyyaml
requests
scikit-image
scipy
shapely
simplegeneric
simplejson
six
stdlib_list
sympy
tensorflow
testpath
toolz
tornado
tqdm
traitlets
typed_ast
urllib3
wcwidth
werkzeug
xlrd
zmq